body {
    background-color: lightgoldenrodyellow;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: gray;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: darkgray;
    margin-left: auto;
    margin-right: auto;
}